.timeline {
  position: relative;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  border-left: 4px solid var(--md-primary-fg-color);
}

.timeline h3 {
  position: relative;
  margin-top: 2.5rem;
}

.timeline h3::before {
  content: "";
  position: absolute;
  left: -2.25rem;
  top: 0.6rem;
  width: 12px;
  height: 12px;
  background-color: var(--md-primary-fg-color);
  border-radius: 50%;
}
